<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footer</title>
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/lavish.css">
    <link rel="stylesheet" href="../css/footer.css"> -->
    
</head>

<body>
	<div class="footer">
    <div class="container-fluid footerWellWrapper">
        <div class="well footerWell">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8 textFooter">
                  <h4 id="webmaster"><strong>Webmaster</strong></h4>
                  <ul>
                    <li><strong><i>Luca Cinelli</i></strong></li>
                    <li><strong><i>Marco Simone Mancuso</i></strong></li>
                    <li><strong><i>Simone Raschella</i></strong></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 textFooter">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
                    <br />Quest'opera e' distribuita con Licenza <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribuzione - Non commerciale - Condividi allo stesso modo 4.0 Internazionale</a>.
                </div>
            </div>
            <div class="row">
              <div id="footerLogoContainer" class="col-xs-offset-4 col-xs-4 col-sm-offset-5 col-sm-3 col-md-offset-5 col-md-2">
                <a href=""><img id="footerLogo" class="img-responsive" src="/EasyTicket/img/Logo.png" alt="Logo" /></a>
              </div>
            </div>
        </div>
    </div>
    </div>
    
</body>

</html>
